* {
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: black;
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem 0rem 1rem;
}

.header__logo{

}

.header__navbox{
display: flex;
gap: 3rem;
font-size: 2rem;
list-style-type: none;
}
