@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: "Neuton", serif;
  background-color: grey;
}

.header {
  background-color: black;
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem 0rem 1rem;
  border-bottom: 5px solid rgb(212, 182, 12);
}

.header__logo{
  background-color: black;
}

.header__navbox {
  background-color: black;
display: flex;
gap: 3rem;
font-size: 2rem;
list-style-type: none;
}

.header__navbox li{
  background-color: black;
}

.portfolio__block {
border: 5px solid red;
  width: 50rem;
  height: 50rem;
  padding: 1rem
}

.portfolio__maintitle {
  display: flex;

}

.portfolio__description {
 margin-left: 2rem;
 margin-top: 1rem;
}